/**
 * Breadcrumb
 */
.breadcrumbs {
    @include font-size(11/16);
    font-weight: 500;
    color: $color__gray;

    a {
        color: $color__gray;

        &:hover {
            color: $color__dark;
        }
    }

    .delimiter {
        font-size: inherit;
        vertical-align: baseline;
        margin: 0 2px;

        svg {
            vertical-align: bottom;
        }
    }
}
