.gallery {
	margin: 0 -20px;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
	padding: 20px;

	// Loops to enumerate the classes for gallery columns.
	@for $i from 2 through 10 {
		.gallery-columns-#{$i} & {
			max-width: map-get( $columns, $i );
		}
	}
}

.gallery-caption {
	display: block;
}
