.konte-dash {
	display: inline-block;

	.konte-dash__line {
		display: inline-block;
		width: 20px;
		border-bottom: 2px solid;
		vertical-align: middle;
		position: relative;
		top: -1px;
	}

	.konte-dash__text {
		@include font-size(12/16);
		font-weight: 600;
		text-transform: uppercase;
		display: inline-block;
		margin-left: 10px;
	}
}
