.konte-product-tabs {
	.konte-product-tabs__tabs{
    	margin: 0 0 60px;

    	li{
    		margin: 0 25px;
    	}
	}

	.konte-tabs__panels{
		padding: 0;
	}

	.konte-tabs__nav li {
		padding-bottom: 16px;
		line-height: 1;
	}
}
