.cart-drawer .drawer__container {
    padding: 0;
    width: 375px
}

.cart-drawer .drawer__contents,
.cart-drawer .drawer__footer {
    padding: 15px
}

.cart-drawer .drawer__header {
    padding: 20px;
    border-bottom: .5px solid var(--color-border)
}

.cart-drawer .drawer__heading {
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase
}

.cart-drawer thead {
    display: none
}

.cart-items {
    width: 100%
}

.cart-item {
    display: grid;
    grid-template-columns: 165px calc(100% - 185px);
    gap: 0 20px;
    margin-bottom: 20px
}

.cart-item__image {
    width: 100%
}

.cart-item__name {
    width: fit-content;
    -moz-fit-content: fit-content;
    display: block;
    margin-bottom: 3px
}

.cart-item__vendor {
    margin: .5rem 0 1rem;
    text-transform: uppercase
}

.cart-item__details {
    font-size: 10px;
    line-height: 13px;
    text-transform: uppercase
}

.cart-item__variant--material {
    display: none
}

.cart-item__variants {
    gap: 4px
}

.cart-item__selling-plan,
.cart-item__variants,
.cart-item__discounts {
    margin: 0 0 13px
}

.cart-drawer dd {
    margin-left: 0
}

.free-shipping-calculator {
    margin-top: 1rem;
    text-align: center
}

.free-shipping-calculator label {
    margin-bottom: 1rem
}

progress {
    width: 100%;
    border-radius: 0;
    height: 2px
}

progress::-webkit-progress-value {
    background-color: #525252
}

progress::-webkit-progress-bar {
    background-color: #d4d4d4
}

.cart-item .loading-overlay {
    right: 1rem;
    bottom: 0
}

.cart-item__error svg {
    margin-top: 1rem
}

.cart-item__error-text:empty+svg {
    display: none
}

.cart-item__discounts svg {
    margin-right: .5rem
}

.cart-item__discounts span {
    text-transform: capitalize
}

.cart-drawer quantity-input {
    padding: 8px 0;
    margin-right: 10px
}

.cart-drawer quantity-input .btn {
    padding: 8px
}

.cart-drawer quantity-input .btn:first-child {
    padding-left: 0
}

.cart-drawer quantity-input input {
    background: transparent;
    width: 24px;
    text-align: center;
    border: none;
    font-size: 10px;
    line-height: 13px;
    text-decoration: none
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0
}

input[type=number] {
    -moz-appearance: textfield
}

.cart-drawer__note {
    padding: 1rem
}

.cart-drawer__note summary {
    text-transform: uppercase;
    margin-bottom: 1rem
}

.cart-drawer__ctas .btn {
    width: 232px;
    height: 45px;
    margin: 40px auto 0
}

.cart-drawer__heading {
    text-transform: uppercase
}

.drawer__footer .cart-drawer__dynamic-checkout-buttons {
    max-width: 100%
}

.drawer__footer #dynamic-checkout-cart ul {
    flex-wrap: wrap !important;
    flex-direction: row !important;
    margin: .5rem -.5rem 0 0 !important;
    gap: .5rem
}

.drawer__footer [data-shopify-buttoncontainer] {
    justify-content: flex-start
}

.drawer__footer #dynamic-checkout-cart ul>li {
    flex-basis: calc(50% - .5rem) !important;
    margin: 0 !important
}

.drawer__footer #dynamic-checkout-cart ul>li:only-child {
    flex-basis: 100% !important;
    margin-right: .5rem !important
}

@media screen and (min-width: 769px) {
    .cart-drawer .drawer__container {
        width: 493px
    }
    .cart-drawer .drawer__contents,
    .cart-drawer .drawer__footer {
        padding: 40px
    }
    .cart-drawer .drawer__body {
        overflow-x: hidden
    }
    .cart-item {
        grid-template-columns: 262px calc(100% - 282px)
    }
    .drawer__footer #dynamic-checkout-cart ul>li {
        flex-basis: calc(100% / 3 - .5rem) !important;
        margin: 0 !important
    }
    .drawer__footer #dynamic-checkout-cart ul>li:first-child:nth-last-child(2),
    .drawer__footer #dynamic-checkout-cart ul>li:first-child:nth-last-child(2)~li,
    .drawer__footer #dynamic-checkout-cart ul>li:first-child:nth-last-child(4),
    .drawer__footer #dynamic-checkout-cart ul>li:first-child:nth-last-child(4)~li {
        flex-basis: calc(50% - .5rem) !important
    }
}

cart-drawer-items::-webkit-scrollbar {
    width: 3px
}

cart-drawer-items::-webkit-scrollbar-thumb {
    background-color: #525252;
    border-radius: 100px
}

cart-drawer-items::-webkit-scrollbar-track-piece {
    margin-top: 1rem
}

.cart-recommendations {
    border-top: .5px solid var(--color-border);
    padding: 30px 15px;
    display: block;
    border-bottom: .5px solid var(--color-border)
}

.cart-recommendations__heading {
    font-size: 15px;
    line-height: 15px;
    text-transform: uppercase;
    margin-bottom: 30px
}

.cart-recommendations__grid:empty+.cart-recommendations__heading {
    display: none
}

.cart-recommendations__grid {
    overflow: auto;
    gap: 20px;
    order: 1
}

.cart-recommendations__grid li {
    flex: 0 0 calc(50% - 10px)
}

.cart-recommendations__grid .product-card {
    color: initial
}

.cart-recommendations__grid .product-card__info {
    padding: 0;
    margin: .5rem 0 1rem
}

.cart-recommendations__grid .product-card__info>div {
    flex-direction: column
}

.cart-recommendations__grid .product-card__title {
    text-transform: initial
}

.cart-recommendations__grid .product-card__title,
.cart-recommendations__grid .product-card .price {
    font-size: 12px;
    line-height: 16px
}

.cart-recommendations__grid .product-card .price {
    margin-top: 4px
}

.cart-recommendations__grid .product-card__sizes {
    display: none
}

.cart-recommendations__grid .product-card .form {
    display: block
}

.cart-recommendations__grid .product-card .form .product-form__submit {
    font-size: 10px;
    padding: .5rem 1rem;
    width: 100%
}

@media screen and (min-width: 769px) {
    .cart-recommendations {
        padding: 40px
    }
    .cart-recommendations__heading {
        margin-bottom: 40px
    }
}

/*# sourceMappingURL=/cdn/shop/t/300/assets/cart-drawer.css.map?v=21864942863300976161689270880 */