/** Shopify CDN: Minification failed

Line 39:1 Unexpected "/"
Line 46:1 Unexpected "/"
Line 313:2 "word-bread" is not a known CSS property

**/
body {
    color: #333;
    text-transform: none !important;
}

h1,
h2,
h3,
h4 {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: bold;
}

.logo-container {
    max-width: 100px;
}

/*================ Buttons ================*/
.btn {
    border-radius: 0;
    border: 1px solid #333;
    color: #fff;
    background-color: #333;
    font-weight: normal;
    font-size: 11px;
    text-transform: uppercase;
    padding: 13px 15px;
    letter-spacing: 0.1em;
}

.btn[disabled] {
    color: #333;
}

.btn svg {
    color: #222;
}

*/ .checkbox__label {
    font-size: 10px;
}

.checkbox__label[for="checkout_buyer_accepts_marketing"] {
    font-size: 11px;
}

*/ .main .field__input,
#checkout_reduction_code {
    background-color: white;
    color: #000;
    border-radius: 0px;
    border: 0;
    border-bottom: 1px solid #333;
}

.main .field__input:focus,
#checkout_reduction_code:focus {
    border-bottom: 1px solid #333;
    box-shadow: none;
}

.field label {
    opacity: 1 !important;
}

.field .field__input {
    padding-top: 1.4em !important;
    padding-bottom: 0.4em !important;
    padding-left: 0 !important;
    background-color: white;
    color: #000;
    border-radius: 0px;
    border: 0;
    border-bottom: 1px solid #333;
}

.field .field__input::placeholder {
    color: #fff;
}

.field__message {
    font-size: 12px;
    text-transform: none !important;
}

.field--half {
    width: 50% !important;
}

.field--third {
    width: 33% !important;
}

.field--third:first-of-type {
    width: 34% !important;
}

.field--third[data-address-field="zip"] label {
    opacity: 1 !important;
}

.field--third[data-address-field="zip"] .field__input {
    padding-top: 1.95em;
}

.field--third[data-address-field="zip"] .field__input::placeholder {
    color: #fff;
}

[data-address-field="address2"] {
    width: 50%;
}

[data-address-field="city"] {
    width: 50%;
}

.field__input--select {
    padding-right: 0 !important;
}

.input-checkbox {
    height: 12px;
    width: 12px;
    vertical-align: middle;
    border: 1px solid #333;
    border-color: #333 !important;
    border-radius: 0;
    margin-bottom: 3px;
}

.radio__label,
label[for="checkout_remember_me"] {
    font-size: 12px;
}

.field__input-btn {
    max-height: 48px;
    margin-top: 10px;
}

.field__input-btn.btn--disabled {
    background-color: #fff !important;
}

.field__caret {
    border: none !important;
    top: 65% !important;
    right: -10px !important;
}

.boxshadow .main .field__input {
    -webkit-box-shadow: 0 0 0 1px #d9d9d9;
    box-shadow: 0 0 0 1px #d9d9d9;
    text-transform: uppercase;
    font-size: 12px;
}

.boxshadow .main .field__input {
    -webkit-box-shadow: 0 0 0 1px #d9d9d9;
    box-shadow: 0 0 0 1px #d9d9d9;
    text-transform: uppercase;
    font-size: 12px;
}

.floating-labels .field--show-floating-label .field__input {
    padding-left: 0px;
}

.floating-labels .field__label {
    top: -8px;
}

.floating-labels .field__label[for="checkout_reduction_code"] {
    top: -25px;
}

.field__label {
    padding-left: 0 !important;
    text-transform: none;
    color: #333 !important;
    transform: none !important;
    font-size: 12px !important;
}

.field__label[for="checkout_reduction_code"] {
    visibility: hidden;
}

.field__label[for="checkout_reduction_code"]::after {
    content: "Enter your code";
    visibility: visible;
    float: left;
}

.section--shipping-address {
    padding-top: 1.5em;
}

.content-box {
    border-radius: 0 !important;
}

.review-block__label {
    color: #333;
    font-size: 12px;
    font-weight: 400;
}

.review-block__content {
    font-size: 14px;
    color: #000;
}

.review-block__content .empnasis {
    color: #000 !important;
}

.review-block__link a {
    font-size: 10px;
    text-decoration: underline;
}

.step__footer__previous-link-content {
    font-size: 12px;
    color: #333;
}

.sidebar .order-summary__emphasis {
    color: #333;
    font-size: 12px;
}

.sidebar .order-summary__small-text {
    font-size: 12px;
}

.order-summary-toggle__inner {
    font-size: 10px;
}

.order-summary-toggle__inner .order-summary-toggle__text span {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    color: #333;
}

.order-summary-toggle__inner .total-recap__final-price {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    color: #333;
}

#section--remember-me__phone .field--half {
    width: 100% !important;
}

.order-summary {
    padding: 0 10px;
}

.total-line {
    font-size: 12px;
}

.boxshadow .sidebar .field__input {
    -webkit-box-shadow: 0 0 0 1px #d5d5d5;
    box-shadow: 0 0 0 1px #d5d5d5;
    text-transform: uppercase;
    font-size: 12px;
    border-radius: 0px;
}

.section__text {
    font-size: 12px;
}

.policy-list__item {
    margin-right: 0;
    text-align: center;
    width: 33%;
}

.policy-list__item a {
    font-size: 8px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.order-summary-toggle {
    padding: 10px 20px !important;
}

.breadcrumb__item {
    padding: 5px 0;
}

@media screen and (max-width: 500px) {
    .main__content {
        margin-top: 32px;
    }
}

@media screen and (min-width: 501px) {
    .main__content {
        margin-top: 40px;
    }
}

@media screen and (max-width: 500px) {
    .section__title {
        font-size: 9px !important;
    }
}

@media screen and (min-width: 501px) {
    .section__title {
        font-size: 10px !important;
    }
}

@media screen and (max-width: 500px) {
    .floating-labels .field--show-floating-label .field__label {
        font-size: 9px !important;
    }
}

@media screen and (min-width: 501px) {
    .floating-labels .field--show-floating-label .field__label {
        font-size: 10px !important;
    }
}

@media screen and (max-width: 500px) {

    .floating-labels .field--show-floating-label .field__input,
    .field .field__input {
        font-size: 10px !important;
        padding-top: 1em !important;
    }
}

@media screen and (min-width: 501px) {

    .floating-labels .field--show-floating-label .field__input,
    .field .field__input {
        font-size: 14px !important;
        padding-top: 1.2em !important;
    }
}

@media screen and (max-width: 500px) {
    .checkbox__label {
        font-size: 9px !important;
    }
}

@media screen and (min-width: 501px) {
    .checkbox__label {
        font-size: 10px !important;
    }
}

.step__footer__continue-btn {
    padding: 8px !important;
}

.step__footer__previous-link,
.step__footer__info {
    padding-top: 1em !important;
}

.review-block~.review-block {
    margin: 0px !important;
}

.step__sections .section--reductions {
    display: none !important;
}

.logged-in-customer-information__paragraph {
    word-bread: break-all;
}