:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root{
  min-height:100vh;
	display:flex; 
	flex-direction:column;
	justify-content: space-between;
}


h1,h2,h3,h4,h5,h6,p{
  margin:0;
  padding:0;
}

/*DISPLAYS*/
.d-flex{
  display: flex;
}
.d-none{
  display: none;
}
.d-grid{
  display: grid;
}


/*grid columns*/
.grid-2{
  grid-template-columns: 1fr 250px;
}
.grid-3{
  grid-template-columns: repeat(3,1fr);
}

.border1{
  border:1px solid #a3a3a3;
}
.bordert1{
  border-top:1px solid #a3a3a3;
}
.borderb1{
  border-bottom:1px solid #a3a3a3;
}

/*POSITIONS*/
.position-a{
  position: absolute;
}
.position-r{
  position: relative;
}
.position-f{
  position: fixed;
}


/*FLEX PROPS*/
.flex-c{
  flex-direction: column;
}

.align-center{
  align-items: center;
}
.align-start{
  align-items: flex-start;
}
.align-end{
  align-items: end;
}

.justify-center{
  justify-content: center;
}

.justify-evenly{
  justify-content: space-evenly;
}

.justify-around{
  justify-content: space-around;
}

.justify-between{
  justify-content:space-between;
}


.justify-start{
  justify-content: start;
}

.justify-end{
  justify-content:end;
}

.g1{
  gap:1rem;
}

.g2{
  gap:2rem;
}

.g3{
  gap:3rem;
}

.g4{
  gap:4rem;
}

.g5{
  gap:5rem;
}


/*MARGINS*/

.m0{
  margin:0;
}


.m1{
  margin: 1rem;
}
.m2{
  margin: 2rem;
}
.m3{
  margin: 3rem;
}
.m4{
  margin: 4rem;
}
.m5{
  margin: 5rem;
}

.m1{
  margin: 1rem;
}
.mt2{
  margin-top: 2rem;
}
.mt3{
  margin-top: 3rem;
}
.mt4{
  margin-top: 4rem;
}
.mt5{
  margin-top: 5rem;
}

.mb1{
  margin-bottom: 1rem;
}
.mb2{
  margin-bottom: 2rem;
}
.mb3{
  margin-bottom: 3rem;
}
.mb4{
  margin-bottom: 4rem;
}
.mb5{
  margin-bottom: 5rem;
}

/*PADDINGS*/
.p1{
  padding: 1rem;
}

.p2{
  padding: 2rem;
}

.p3{
  padding: 3rem;
}

.p4{
  padding: 4rem;
}

.p5{
  padding: 5rem;
}


.pi1{
  padding-inline: 1rem;
}
.pi2{
  padding-inline: 2rem;
}
.pi3{
  padding-inline: 3rem;
}
.pi4{
  padding-inline: 4rem;
}
.pi5{
  padding-inline: 5rem;
}


/*WIDTHS*/
.w100{
  width: 100%;
}

.w50{
  width: 50%;
}
.w75{
  width: 75%;
}

.w33{
  width: 33%;
}

.w25{
  width: 25%;
}
.w10{
  width: 10%;
}

/*IMAGE SIZES*/
.mw50{
  max-width: 50px;
  width: 50px;
}

.mw100{
  max-width: 100px;
  width: 100px;
}


.mw150{
  max-width: 150px;
  width: 150px;
}

.mw200{
  max-width: 200px;
  width: 200px;
}


.mw250{
  max-width: 250px;
  width: 250px;
}


.mw300{
  max-width: 300px;
  width: 300px;
}

/*forms*/
.form-control {
  line-height: 1.1;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
}

.form-control {
  line-height: 1.1;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
}

.form-control--disabled {
  cursor: not-allowed;
}

input[type="checkbox"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  /* Remove most all native input styles */
  appearance: none;
  /* Not removed via appearance */
  margin: 0;

  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  /* Windows High Contrast Mode */
  background-color: CanvasText;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

input[type="checkbox"]:focus {
  outline: max(2px, 0.15em) solid currentColor;
  outline-offset: max(2px, 0.15em);
}

input[type="checkbox"]:disabled {
  --form-control-color: var(--form-control-disabled);

  color: var(--form-control-disabled);
  cursor: not-allowed;
}

textarea.input {
  resize: vertical;
}

input,textarea{
  transition: 180ms box-shadow ease-in-out;
}

input:focus ,textarea:focus{
  border-color:rgba(0,0,0,0.3) ;
  box-shadow: 0 0 0 2px  rgba(0,0,0,0.3);
  outline: 2px solid transparent;
}

input[type="file"] {
  font-size: 0.9em;
  padding-top: 0.35rem;
}


/*TABLE*/
table {
  border-collapse: collapse;
  width: 80%;
  margin: auto;
}
th,
td {
  padding: 25px;
  text-align: center;
  border: 1px solid black;
}
th {
  font-size: 1rem;
  color: black;
  text-transform: uppercase;
}
td {
  color:black;
  font-size: 1em;
}

/*FILE INPUT*/
[type="file"] {
  height: 0;
  overflow: hidden;
  width: 0;
}

[type="file"] + label {
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
  padding: 0 40px;
  line-height: 40px;
  background-color: #161619;
  cursor: pointer;
  transition: 0.4s;
}
  
  label:hover {
    background-color: darken(#f15d22, 10%);
  }
  
  .btn-1 {
    background-color: #f79159;
    box-shadow: 0 6px darken(#f79159, 10%);
    transition: none;
  }
    .btn-1:hover {
      box-shadow: 0 4px darken(#f79159, 10%);
      top: 2px;
    }

    /*MARGINS*/
    .mauto{
      margin:auto;
    }
    .nomargin p{
      margin-bottom: 1px;
    }

/* header.css */

.video-container-home {
  width: 100%;
  position: relative;
  padding-top: 56.25%; /* Aspect ratio for a 16:9 video */
  padding-bottom:10rem;
}

.video-home {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.video-container-home {
  width: 100%;
  position: relative;
  padding-top: 56.25%; /* Aspect ratio for a 16:9 video */
  margin-top: -100px; /* Adjust as needed to create space between header and video */
}

.dashboard-btn-home{
  top:100%;
  right:0%;
  background:rgba(0,0,0,0.5);
  width: 100%;
  padding:0.2rem;
  display: flex;
  justify-content: right;
}

.dashboard-btn-home a{
  color:white;
  text-decoration: none;
  font-size: 10px;
}

.dashboard-links{
  display:grid;
  grid-template-columns: repeat(3,1fr);
  width: 100%;
  place-items: center;
  gap:1rem;
  list-style-type: none;
}

.dashboard-links>li{
  border:1px solid black;
  padding:4rem;
  transition: background 0.2s ease-in-out;
  cursor: pointer;
}

.dashboard-links>li:hover{
  background: black;
}


.dashboard-links>li>a{
  text-decoration: none;
  font-size:30px;
  text-transform: uppercase;
  font-weight: 100;
  transition: color 0.2s ease-in-out;
}


.dashboard-links>li:hover .dashboard-links li a{ 
  color:white;
  }

  .errorModule{
    margin:40px auto 20px;
    text-align:center;
    color: #A80000;
  }
    .errorIcon{
      font-size:34px;
      margin: 15px;
      animation: animateIcon 5s infinite;
    }
    .errorMsg{
      font-size:14px;
    }

    @media screen and (max-width:992px) {
      .w25,.w33,.w50,.w75{
        padding-inline:1rem;
        width: 100%;
      }
    }