.product-card {
    color: #000;
    position: relative;
    z-index: 0
}

.product-card variant-radios .product-form__input.color {
    border: none;
    padding: 0;
    gap: 12px
}

.product-card picture>img {
    background-image: url(/cdn/shop/files/amiri-loading.png?v=1674708196);
    background-size: cover;
    background-repeat: no-repeat
}

.product-card__info {
    margin-top: 12px;
    padding-left: 10px
}

.product-card__title {
    font-family: var(--font-body);
    font-size: 10px;
    line-height: 13px;
    margin: 0 0 4px
}

.product-card__style {
    margin-bottom: 4px;
    font-size: 10px;
    line-height: 13px
}

.product-card__vendor {
    font-size: 10px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 1px;
    margin-bottom: 4px
}

.product-info__floating {
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 10px;
    display: none
}

.product-info__floating .product-card__info {
    padding-left: 0
}

.product-card:hover .wishlist-badge,
.product-card:hover .product-info__floating {
    display: block
}

.wishlist-badge {
    position: absolute;
    top: 10px;
    right: 10px;
    display: none;
    z-index: 1
}

.product-card .badge {
    color: #000;
    border: none;
    font-weight: 400;
    font-size: 10px;
    line-height: 13px;
    letter-spacing: .04em;
    text-transform: uppercase;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1
}

.product-card .final-sale-badge {
    text-transform: uppercase;
    border: 1px solid;
    padding: .25rem .5rem;
    display: inline-block
}

.product-info__floating s {
    color: #fff
}

.product-card--floating {
    display: none;
    flex-direction: column;
    position: relative
}

.media--rollover {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: all .3s ease-in-out
}

.product-card__media img {
    transition: transform .5s ease
}

.product-card__media {
    overflow: hidden
}

.product-card .rating-star {
    --letter-spacing: .25;
    --font-size: .8
}

.product-card .rating-star {
    --percent: calc( ( var(--rating) / var(--rating-max) + var(--rating-decimal) * var(--font-size) / (var(--rating-max) * (var(--letter-spacing) + var(--font-size)))) * 100%);
    letter-spacing: calc(var(--letter-spacing) * 1rem);
    font-size: calc(var(--font-size) * 1rem);
    line-height: 12px
}

.rating-star:before {
    content: "\2605\2605\2605\2605\2605";
    background: linear-gradient(90deg, #000000 var(--percent), rgba(163, 163, 163, .15) var(--percent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

.product-info__floating .rating-star:before {
    content: "\2605\2605\2605\2605\2605";
    background: linear-gradient(90deg, #ffffff var(--percent), rgba(163, 163, 163, .15) var(--percent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

product-form {
    width: 100%
}

.product-form__error-message-wrapper {
    padding: .5rem;
    border: 1px solid red;
    color: red;
    margin-top: .5rem;
    font-size: 12.8px;
    line-height: 16px
}

@media (hover: hover) {
    .product-card__media:hover .media--rollover {
        width: auto;
        height: auto;
        opacity: 1;
        clip: auto
    }
    .product-card:hover .wk-button {
        opacity: 1
    }
}

@media screen and (min-width: 769px) {
    .product-card__style,
    .product-card__title {
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: .06em
    }
    .product-card__vendor {
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        margin-bottom: 0
    }
    .product-card .price-item {
        white-space: nowrap
    }
    .product-info__floating .rating {
        display: block
    }
    .product-card .wk-button {
        opacity: 0;
        transition: opacity .4s cubic-bezier(.25, .46, .45, .94)
    }
}

@media screen and (max-width: 768px) {
    .product-card .final-sale-badge {
        margin: .25rem 0
    }
    .price {
        font-size: 10px;
        line-height: 13px
    }
}

/*# sourceMappingURL=/cdn/shop/t/300/assets/product-card.css.map?v=71079884857747356641689270882 */