.konte-typo-separator{
	display: inline-block;
	height: 1px;
	width: 100%;
	background-color: #ebebeb;
}

.typo--p-large{
	font-size: 24px;
}

.typo--p-medium{
	font-size: 18px;
}

.typo--p-normal{
	font-size: 16px;
}

.typo--p-smaller{
	font-size: 14px;
}