video{
    width: 100%;
}

.konte-video{
    padding-top: 56.25%;
    position: relative;
    width: 100%;
	margin-bottom: 50px;
}

.konte-video__embed iframe{
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
}