.products-cart {
	.entry-header .entry-title {
		font-weight: 400;
		margin-bottom: 75px;
	}

	.cart-empty,
	.return-to-shop {
		text-align: center;
	}

	.cart-empty {
		img {
			opacity: 0.85;
			width: 150px;
			display: block;
			margin: 0 auto 30px auto;
		}
	}

	.return-to-shop {
		margin-top: 100px;

		.button {
			line-height: 60px;
			min-width: 220px;
		}
	}
}

table.cart {
	margin-bottom: 0;

	th,
	td {
		padding: 20px;
		border-bottom-color: $color__lighter;
	}

	th {
		@include font-size(11/16);
		font-weight: 600;
		text-transform: uppercase;
	}

	thead th {
		padding: 0 20px 15px 20px;

		&.product-thumbnail,
		&.product-remove {
			padding-left: 0;
			padding-right: 0;
		}
	}

	.product-thumbnail {
		width: 130px;
		padding-left: 0;
		padding-right: 0;

		img {
			display: block;
		}
	}

	.product-name {
		padding-left: 40px;

		a {
			font-weight: 500;
		}

		dl {
			@include font-size(14/16);
			margin: 0;
			padding: 0;
		}

		dt {
			display: none;
		}

		dd {
			display: inline-block;
			margin: 0;

			&:after {
				content: "/";
			}

			&:last-child:after {
				content: "";
			}
		}

		p {
			margin: 0;
			display: inline;
		}

		.backorder_notification {
			color: $color__gray;
			@include font-size(14/16);
			display: block;
		}

		.product-price {
			font-weight: 400;
			display: none;
		}

		.product-remove {
			display: none;
		}
	}

	.product-price,
	.product-subtotal {
		font-weight: 500;
	}

	.product-quantity {
		.quantity {
			min-width: 142px;
		}
	}

	.product-remove {
		text-align: right;
		padding-left: 0;
		padding-right: 0;

		svg {
			vertical-align: middle;
		}
	}

	a.remove {
		color: #a2a5a6;

		&:hover {
			color: $color__dark;
		}
	}

	.actions {
		padding-top: 30px;
		padding-left: 0;
		padding-right: 0;
		border-bottom: 0;

		.button {
			color: $color__dark;
			font-weight: 600;
			line-height: (26/14);
			float: right;
			padding: 0;
			margin-top: 3px;
			border-bottom: 2px solid;
			background: transparent;
		}
	}

	.empty-cart-button {
		margin-right: 100px;
	}

	.coupon {
		display: inline-block;
		width: (460/1140)*100%;
		position: relative;

		label {
			display: none;
		}

		.input-text {
			@include font-size(1);
			border: 0;
			padding: 4px 0;
			border-bottom: 2px solid $color__lighter;
			width: 100%;

			&:hover,
			&:focus {
				border-bottom-color: $color__dark;
			}
		}

		.button {
			float: none;
			border-bottom: 0;
			position: absolute;
			right: 0;
			top: 0;
		}
	}
}

.cart-collaterals {
	padding: 30px 40px 40px 40px;
	margin-top: 20px;
	border: 1px solid $color__dark;

	.cart_totals h2 {
		@include font-size(18/16);
		font-weight: 500;
		margin: 0;
		float: left;
	}

	.shop_table {
		margin-bottom: 20px;
		border-top: 1px solid $color__lighter;

		th,
		td {
			padding: 30px 0;
			border-color: $color__lighter;
		}

		th {
			@include font-size(18/16);
			font-weight: 500;
			text-transform: none;
			width: 155px;
		}

		.shipping {
			th {
				vertical-align: top;
			}
		}

		.shipping-methods {
			padding-bottom: 30px;
			margin-bottom: 30px;
			border-bottom: 1px solid $color__lighter;
		}

		.shipping-calculator-button {
			@include font-size(14/16);
			font-weight: 600;
			text-transform: uppercase;
			border-bottom: 2px solid;
			padding-bottom: 6px;
		}

		.shipping-calculator-form {
			input,
			button {
				width: 100%;
			}
		}
	}

	.cart-subtotal-table,
	.order-total-table {
		width: 350px;
		float: right;
		border: 0;

		th,
		td {
			border: 0;
			padding: 0;
		}

		th {
			@include font-size(14/16);
			text-transform: uppercase;
			width: auto;
		}

		td {
			text-align: right;
		}

		.amount {
			font-weight: 500;
		}
	}

	.wc-proceed-to-checkout {
		text-align: right;
		clear: both;
	}

	.checkout-button {
		color: #fff;
		line-height: 60px;
		width: 350px;
		border: 0;
		background: $color__dark;
	}
}

.shipping {
	ul {
		margin: 0;
		padding: 0;
		list-style: none;

		input.shipping_method {
			display: none;
		}

		label {
			color: $color__gray;
			position: relative;
			padding-left: 30px;
			display: inline-block;
			cursor: pointer;

			&:before,
			&:after {
				content: "";
				width: 20px;
				height: 20px;
				margin-right: 10px;
				background: $color__lighter;
				position: absolute;
				left: 0;
				top: 0.2em;
				transition: 0.4s;
			}

			&:before {
				border: 1px solid $color__lighter;
				background: $color__lighter;
			}

			&:after {
				opacity: 0;
				background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSIxMnB4IiBoZWlnaHQ9IjEycHgiIHZpZXdCb3g9IjAgMCAxMiAxMiIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMTIgMTIiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxnPjxnPjxwb2x5Z29uIHBvaW50cz0iNC4xNzcsMTAuNTQzIDAuNDM0LDYuOCAxLjU2Niw1LjY2OCA0LjE3Nyw4LjI3OSAxMC40MzUsMi4wMjMgMTEuNTY1LDMuMTU1ICIvPjwvZz48L2c+PC9zdmc+) no-repeat center center;
			}
		}

		:checked + label,
		input[type="hidden"] + label {
			color: $color__dark;

			&:before {
				border-color: $color__dark;
				background: transparent;
			}

			&:after {
				opacity: 1;
			}
		}
	}

	.shipping-methods{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.shipping-destination {
		@include font-size(1);
		margin: 0 0 10px;
	}
}

.shipping-calculator {
	.shipping-calculator-form {
		padding-top: 30px;

		> :first-child {
			margin-top: 0;
		}
	}

	.select2 .select2-selection--single .select2-selection__rendered {
		@include font-size(1);
	}

	button {
		margin-top: 20px;
	}
}

.cross-sells {
	margin-top: 105px;

	h2 {
		@include font-size(32/16);
		font-weight: 400;
		margin: 0 0 46px;
	}
}

.cart-panel {
	.panel-header {
		padding-bottom: 60px;
	}

	.panel-content {
		padding-top: 10px;
	}

	.cart-panel-counter {
		margin-left: 6px;
	}

	.widget_shopping_cart_content {
		display: flex;
		flex-direction: column;
		height: 100%;

		.cart_list {
			flex: 1;
		}

		.mini-cart-item__name {
			@include font-size(18/16);
		}

		.total,
		.buttons {
			width: 100%;
			margin: 0;
			padding-top: 30px;
		}

		.buttons {
			text-align: center;
			margin-bottom: 60px;

			.button {
				color: $color__dark;
				font-weight: 600;
				display: block;
				border: 1px solid;
				margin-bottom: 20px;
				background: transparent;

				&:hover {
					color: #fff;
					border-color: $color__dark;
					background: $color__dark;
				}

				&:last-child {
					margin-bottom: 0;
				}
			}

			.checkout {
				color: #fff;
				border: 0;
				background: $color__dark;
			}
		}
	}

	.woocommerce-mini-cart__empty-message {
		text-align: center;
		color: $color__gray;
		justify-self: center;
		margin: auto 0;
		position: relative;
		top: -70px;

		img {
			opacity: 0.25;
			width: 40%;
			display: block;
			margin: 0 auto 60px auto;
		}
	}
}
